{% load static %}
<html>
<head>
     <link rel="stylesheet" href="{% static "style.css" %}">
     

    <title>Document</title>
</head>
<body>
    <form method="post" action="/emp">
        {%  csrf_token %}
        <div>
            <br>
            <p>
                <h3>enter details</h3>
            </p>
            <div>
                <p>Employee Id:</p>{{ form.eid }}
            </div>
            <div>
                <p>Employee Name:</p>{{ form.ename }}
            </div>
            <div>
                <p>Employee Email:</p>{{ form.eemail }}
            </div>
            <div>
                <p>Employee Contact:</p>{{ form.econtact }}
            </div>
            <br>
            <button type="submit">submit</button>
        </div>

    </form>


    
</body>
</html>

