body{
    background: rgb(252, 250, 250);
    height: 100%;
    margin: 25px 0;
    padding-left: 300px;
}
table,th,td{
    border: 1px solid rgb(118, 200, 211);
}
tr:hover{
    background-color: yellow;
}
th{
    background-color: green;
}
button{
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: green;
    cursor: pointer;
}